.my-container {
    width: 80%;
    border: 3px solid blue;
    padding: 20px;
}
.box {
    height: 50px;
    width: 130px;
    background-color: lightblue;
    color: white;
    padding: 10px;
}
.width-in-px {
    width: 250px;
}
.width-in-percentage {
    width: 80%;
}
