.footer-section-container {
    background-color: #19232d;
}
.footer-section-logo {
    height: 50px;
    width: 50px;
}
.footer-section-icon-container {
    background-color: #202b36;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 11px;
    margin: 5px;
}
.icon {
    color: #5a7184;
    font-size: 22px;
}
.footer-section-address {
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}
.footer-contactus-section-heading {
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.footer-contactus-section-icon {
    color: #5a7184;
    font-size: 25px;
    margin-right: 8px
}
.footer-contactus-section-paragraph {
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.footer-help-section-paragraph {
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}
.hr-inline {
    border-color: #5a7184;
    border-width: 3px;
    border-style: solid;
}
.footer-copyright-icon {
    color: #5a7184;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
}
.footer-copyright-description {
    color: #5a7184;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}