.logos-section-container {
    background-color: whitesmoke;
}
.logos-section-heading {
    color: #323f4b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
